.container-fluid {
    height: 100vh;
    background: #aeaeee;
    background: linear-gradient(90deg, rgba(174, 174, 238, 1) 0%, rgba(238, 174, 202, 1) 50%, rgba(255, 105, 135, 1) 100%);
    font-family: "Sonsie One", system-ui;
}

.row {
    min-height: 200px;
    align-items: center;
    text-align: center;
}

#text {
    font-size: 9rem;
    color: #fff;
    text-shadow: 2px 5px .5rem #000;
}

/* 
button {
  border-radius: 25px;
 
  box-shadow: 0px 0px 15px currentcolor;
  border: 2px solid currentcolor;
 
  padding: 20px;
  width: 200px;
  height: 90px;
} */

.btn {
  --color1: #f074d1;
  --color2: #e9adda;
  perspective: 1000px;
  padding: 1em 1em;
  background: linear-gradient(var(--color1), var(--color2));
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.btn::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: var(--color2);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.btn::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: var(--color1);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.btn:hover {
  transform: rotateX(30deg) rotateZ(0);
  color: #ffdbfd;
}

/* .sonsie-one-regular {

  font-weight: 400;
  font-style: normal;
} */
