.container-fluid {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #aeaeee;
    background: linear-gradient(90deg, rgba(174, 174, 238, 1) 0%, rgba(238, 174, 202, 1) 50%, rgba(255, 105, 135, 1) 100%);
    font-family: "Sonsie One", system-ui;
    z-index: 2;
}

 
.row {
    min-height: 400px;
    align-items: center;
    text-align: center;
}

#text {
    font-size: 9rem;
    color: #fff; 
    text-shadow: 1px 1px 2px rgb(226, 112, 152), 0 0 25px rgb(255, 6, 172), 0 0 5px rgb(215, 72, 167);
}

.btn {
  --color1: #f074d1;
  --color2: #e9adda;
  perspective: 1000px;
  padding: 1em 1em;
  background: linear-gradient(var(--color1), var(--color2));
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 10px 15px #000;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.btn::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: var(--color2);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.btn::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: var(--color1);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.btn:hover {
  transform: rotateX(30deg) rotateZ(0);
  color: #ffdbfd;
}

.wave-text span {
    display: inline-block;
    font-size: 10rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
